<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.hnworkerwage.mapper.HnMaterialCodeMapper">

    <select id="pageList" resultType="org.jeecg.modules.hnworkerwage.entity.HnMaterialCode">
        SELECT
            hmc.*,
            hp.name AS productName
        FROM
            hn_material_code hmc
        LEFT JOIN
            hn_product hp ON hmc.product_code = hp.code
        <where>
            <if test="materialCode.code != null and materialCode.code != ''">
                AND hmc.code LIKE CONCAT('%', #{materialCode.code}, '%')
            </if>
            <if test="materialCode.productCode != null and materialCode.productCode != ''">
                AND hmc.product_code = #{materialCode.productCode}
            </if>
            <if test="materialCode.status != null">
                AND hmc.status = #{materialCode.status}
            </if>
        </where>
    </select>

</mapper>
